body {
    background-color: #2d2a35;
    background-image: url("./../res/main_bg.png"); 
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    width: 100%;
    background-blend-mode: exclusion darken;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

footer {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: #FFFFFF;
}

.separator-bot {
    position: relative;
    width: 100%;
    height: 200px;
}

.bot-wave-separator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bot-wave-separator svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.bot-wave-separator .shape-fill {
    fill: #FFFFFF;
}

.separator-top {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
}


.top-wave-separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.top-wave-separator svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 176px;
}

.top-wave-separator .shape-fill {
    fill: #FFFFFF;
}

.main-column {
    padding: 0;
}

.center {
    width: 100%;
    text-align: center;    
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 140%;
    text-shadow: 3px 3px 3px #2d2a35;
}

.subtitle {
    font-size: 30px;
    text-shadow: 3px 3px 3px #2d2a35;
}

.quote {
    font-size: 100%;
    font-style: italic;
    opacity: 80%;
}





.title {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 700%;
    border:2px soild #eee;
    margin: 30px 30px;
    text-shadow: 3px 3px 3px #8a8a8a;
}

.content {
    background-color: #FFFFFF;
    padding: 10%;
}

.content .count {
    font-size: 150%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-flex;
    gap: 25px;
}

.gallery {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: auto;
}

.gallery .prog-item{
    color: #eee;
    width: 700px;
    height: 300px;
    background-color: #2d2a35;
    border-radius: 50px;
    padding: 50px;
}
.prog-item a{
    text-decoration: none;
    color: #eee;
}
.prog-item .prog-header {
    font-size: 50px;
    margin: 0;
}
.prog-header .prog-title i{
    font-size: 20px;
}

.prog-item .prog-status {
    margin-top: -5%;
    font-style: italic;
    opacity: 80%;
}

.prog-item .prog-desc {
    margin-top:10px;
    font-size: 25px;
}






@media only screen and (max-width: 992px){

    .title h1 {
        text-align: center;
        justify-content: center;
        font-size: 350%;
    }

    .gallery .prog-item{
        width: 200px;
        height: 75px;
        border-radius: 10px;
        padding: 10px;
        background-color: red;
    }
    .prog-item a{
        text-decoration: none;
        color: #eee;
    }
    .prog-item .prog-header {
        font-size: 35px;
        margin: 0;
    }
    .prog-header .prog-title i{
        font-size: 15px;
    }

    .prog-item .prog-status {
        margin-top: -5%;
        font-style: italic;
        opacity: 80%;
    }

    .prog-item .prog-desc {
        margin-top:10px;
        font-size: 15px;
    }
}