body {
    background-color: #2d2a35;
    background-image: url("./../res/main_bg.png"); 
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    width: 100%;
    background-blend-mode: exclusion darken;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

footer {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: #FFFFFF;
}

.separator-bot {
    position: relative;
    width: 100%;
    height: 200px;
}

.bot-wave-separator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bot-wave-separator svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.bot-wave-separator .shape-fill {
    fill: #FFFFFF;
}

.separator-top {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
}


.top-wave-separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.top-wave-separator svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 176px;
}

.top-wave-separator .shape-fill {
    fill: #FFFFFF;
}

.main-column {
    padding: 0;
}

.center {
    width: 100%;
    text-align: center;    
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 140%;
    text-shadow: 3px 3px 3px #2d2a35;
}

.subtitle {
    font-size: 30px;
    text-shadow: 3px 3px 3px #2d2a35;
}

.quote {
    font-size: 100%;
    font-style: italic;
    opacity: 80%;
}





.title {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 700%;
    border:2px soild #eee;
    margin: 30px 30px;
    text-shadow: 3px 3px 3px #8a8a8a;
}

.content {
    font-size: 200%;
    background-color: #FFFFFF;
    padding: 10%;
}


.content .desc {
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery {
    margin-top: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: auto;
}

.gallery .story-item{
    color: #eee;
    width: 700px;
    background-color: #2d2a35;
    border-radius: 50px;
    overflow: hidden;
    padding: 0;
    box-shadow: 3px 3px 3px #2d2a35;
}

.story-item img{
    margin-left: -5px;
    margin-bottom: 50px;
    justify-self: center;
    width: 710px;
}

.story-item a{
    text-decoration: none;
    color: #eee;
}


.story-item .story-header {
    font-size: 50px;
    margin: 0;
}

.story-item .story-header p{
    margin-left: 50px;
}

.story-item .story-status {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    margin-left: 50px;
    gap: 10px;
}

.story-item .story-desc {
    font-size: 20px;
}

.story-item .story-desc p{
    text-align: center;
    color: #eee;
    margin: 50px;
    font-style: italic;
    opacity: 80%;
}

.story-item .story-desc button{
    background-color: #4b4657;
    color: black;
}

.story-item .story-desc .accordion-body{
    background-color: #766d8a;
    color: black;
}






@media (max-width: 990px){

    .title h1 {
        text-align: center;
        justify-content: center;
        font-size: 350%;
    }

    .gallery .story-item{
        width: 300px;
        border-radius: 20px;
    }

    .story-item img{
        margin-bottom: 30px;
        width: 310px;
    }


    .story-item .story-header {
        font-size: 40px;
        margin: 0;
    }

    .story-item .story-header p{
        margin-left: 20px;
    }

    .story-item .story-status {
        margin-top: -10px;
        margin-left: 20px;
        gap: 5px;
    }

    .story-item .story-desc {
        font-size: 20px;
    }

    .story-item .story-desc p{
        margin: 20px;
    }
}